jupyter
networkx
pygraphviz

# pip install --config-settings="--global-option=build_ext" --config-settings="--build-option=-I$(brew --prefix graphviz)/include/" --config-settings="--build-option=-L$(brew --prefix graphviz)/lib/" -r requirements.txt